<mat-card class="max-w-xs">
  <mat-card-header>
    <mat-card-title>Login to Endeavour Drinks</mat-card-title>
    <mat-card-subtitle
      >This is where you'd normally enter your credentials</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="my-8">
    <form class="flex flex-col">
      <mat-form-field>
        <mat-label>Your Email</mat-label>
        <input matInput type="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
      <p>
        No need to enter these, for now select a customer and press the log in
        button!
      </p>
      <mat-form-field>
        <mat-label>Customer</mat-label>
        <mat-select [(value)]="customerId">
          <mat-option value="1">Walter Greenway </mat-option>
          <mat-option value="2">Margaret Smith </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!canClick || customerId === 0"
      (click)="login()"
    >
      Log In
    </button>
  </mat-card-actions>
</mat-card>
